@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap);
:root{--header-height:3rem;--nav-width:68px;--first-color:#2e2e2e;--first-color-light:#ffffff;--white-color:#ffffff;--gold-color:#e3b04b;--dark-color:#060606;--black-color:#000000;--grey-color:#e3e3e3;--light-grey-color:#b1a8a8;--body-font:'Nunito',sans-serif;--normal-font-size:1rem;--z-fixed:100}
*,::after,::before{box-sizing:border-box}
body{position:relative;margin:var(--header-height) 0 0 0;padding:0;font-family:var(--body-font);font-size:var(--normal-font-size);transition:.5s}
a{text-decoration:none;transition:color .5s linear;-webkit-transition:color .5s linear;-moz-transition:color .5s linear}
.header{width:100%;height:var(--header-height);position:fixed;top:0;left:0;display:flex;align-items:center;justify-content:space-between;padding:0 1rem;background-color:var(--grey-color);z-index:var(--z-fixed);transition:.5s}
.header_toggle{color:var(--first-color);font-size:1.5rem;cursor:pointer;margin-left:1rem}
.header_img{width:35px;height:35px;display:flex;overflow:hidden;filter:grayscale(100%)}
.img-responsive{display:block;max-width:100%;height:auto}
.clock{margin:0 10px;font-size:1rem;color:var(--first-color);font-weight:600}
.earth-icon{margin:0 10px 0 0;font-size:1rem;color:var(--first-color);font-weight:600}
.userinfo{margin:0;font-size:1rem;color:var(--first-color);font-weight:600}
.userinfo .fa-user{margin-right:10px}
.border-left-sepline{border-left:1px solid var(--light-grey-color);padding-left:10px;display:inline-block;align-items:center}
.border-right-sepline{border-right:1px solid var(--first-color);padding-left:10px;display:inline-block;align-items:center}
.l-navbar{position:fixed;top:0;left:-30%;width:var(--nav-width);height:100vh;background-color:var(--first-color);padding:.5rem 1rem 0 0;transition:.5s;z-index:var(--z-fixed)}
.nav{display:flex;overflow:hidden}
.nav_list{padding:0;margin:0;list-style:none}
.nav_name{display:block}
.nav_item{width:100%;display:block}
.nav div{position:relative;overflow:hidden}
.nav_link,.nav_logo{display:grid;grid-template-columns:max-content max-content;align-items:center;column-gap:1rem;padding:.5rem 0 .5rem 1.5rem}
.nav_logo{margin-bottom:2rem}
.nav_logo-icon{font-size:1.25rem;color:var(--white-color)}
.nav_logo-name{color:var(--white-color);font-weight:700}
.nav_link{position:relative;color:var(--first-color-light);margin-bottom:1rem;transition:.3s}
.nav_link:hover{color:var(--gold-color)}
.nav_icon{font-size:1.25rem}
.nav a.log-out{position:fixed;bottom:0;left:0;overflow:hidden}
.nav a.log-out .nav_name{display:none}
.nav_list ul .nav_link{margin-bottom:0rem!important}
.show{left:0}
.dropdown-toggle::after{display:none!important}
.body-pd{padding-left:calc(var(--nav-width) + 1rem)}
.body-pd .nav a.log-out .nav_name{display:block}
.log-out .bg-white{background-color:var(--white-color)}
.active{color:var(--white-color)}
.height-100{height:100vh}
.bg-padding{padding:1em 0!important}
.btn{cursor:pointer;-webkit-box-shadow:none!important;box-shadow:none!important;font-size:15px;padding:10px 20px}
.btn:active,.btn:focus,.btn:hover{outline:0}
.btn.btn-primary{background:var(--gold-color);border:1px solid var(--gold-color);color:#000;font-weight:700;transition:color .5s linear;-webkit-transition:color .5s linear;-moz-transition:color .5s linear}
.btn.btn-primary:hover{border:1px solid var(--black-color);background:var(--dark-color);color:var(--white-color)}
.btn.btn-primary.btn-outline-primary{border:1px solid var(--gold-color);background:0 0;color:var(--gold-color)}
.btn.btn-primary.btn-outline-primary:hover{border:1px solid transparent;background:var(--gold-color);color:var(--white-color)}
.page-container{width:100%;height:100%;padding-left:280px}
.page-container .page-content-wrapper{min-height:100%;position:relative;background:#f1f1f1}
.page-container .page-content-wrapper .content{z-index:10;padding-top:60px;padding-bottom:69px;min-height:100%;-webkit-transition:all .3s ease;transition:all .3s ease}
.page-container .page-content-wrapper .content.full-width{width:100%}
.page-container .page-content-wrapper .content .content-inner{display:inline-block;vertical-align:top;height:100%;padding-left:30px;position:relative}
.page-container .page-content-wrapper .content:only-child{padding-bottom:0}
.page-container .page-content-wrapper .content.overlay-footer{padding-bottom:0}
.page-container .page-content-wrapper .footer{position:absolute;left:0;right:0;bottom:0;-webkit-transition:left .3s ease;transition:left .3s ease}
.page-container .page-content-wrapper .footer.fixed{position:fixed}
.page-title{margin-top:0}
.page_title{margin-top:1rem}
.container-fluid.container-fixed-lg{width:100%;margin-right:auto;margin-left:auto}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{color:#fff!important;border-color:transparent;border:0}
.nav-tabs .nav-link{margin-bottom:0;background:0 0;border:1px solid transparent;border-top-left-radius:0rem;border-top-right-radius:0rem;margin:0}
.nav-tabs .nav-link.active{padding:12px 15px!important}
.breadcrumb{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;box-shadow:none;background-color:transparent;padding:0;margin:0 1rem 0 1rem;border:none;text-transform:uppercase;display:block}
.breadcrumb a:hover{color:#c64643}
.breadcrumb a:focus{color:#333}
.breadcrumb.breadcrumb-alt{padding:8px 0;text-transform:none}
.breadcrumb.breadcrumb-alt a{letter-spacing:normal;color:#000;font-size:12px!important}
.breadcrumb.breadcrumb-alt>.breadcrumb-item,.breadcrumb.breadcrumb-alt>.breadcrumb-item.active{letter-spacing:normal;opacity:.46;color:#000;font-size:12px!important}
.breadcrumb a{margin-left:0;margin-right:0;font-size:12px!important;letter-spacing:.06em;font-weight:500;color:#333;padding:15px 0}
.breadcrumb .breadcrumb-item{float:left;padding-left:0;height:30px;line-height:30px}
.breadcrumb>.breadcrumb-item+.breadcrumb-item:before{padding:0 5px;color:#515050;font-family:FontAwesome;content:"\f105";font-size:12px;font-weight:700}
.breadcrumb>.breadcrumb-item.active{font-weight:500;color:#727272;margin-left:5px;margin-right:0;font-size:12px!important;letter-spacing:.06em}
.breadcrumb>.breadcrumb-item.active:before{padding-right:5px}
.overlay{position:fixed;left:0;right:0;top:0;bottom:0;background:rgba(255,255,255,.95);z-index:1010;padding-left:64px;overflow:auto}
.overlay .inline-block{display:inline-block}
.overlay .overlay-brand{margin-left:7px}
.overlay>div{width:100%;height:260px;display:block;overflow:hidden}
.overlay .has-results{overflow:visible}
.overlay .overlay-search{font-weight:700;font-size:77px;height:100px;letter-spacing:-1.925px;line-height:100px;width:100%;padding-left:0!important}
.overlay .overlay-close{position:absolute;right:20px;top:5px}
.group-container{white-space:nowrap!important}
.group-container .single-group{vertical-align:top;display:inline-block;white-space:normal}
.jumbotron{position:relative;overflow:hidden;display:block;padding:0;background-color:#cdcdcd;height:30px;line-height:30px;width:100%}
.jumbotron .inner{position:relative;z-index:2}
.jumbotron .cover-photo{width:100%;height:inherit;overflow:hidden;-webkit-transition:opacity .3s ease;transition:opacity .3s ease;background-size:cover;background-color:#10cfbd}
.jumbotron .cover-photo img{display:none}
.jumbotron h1{font-size:44px}
.scroll{position:relative;overflow:auto}
.card{-webkit-box-shadow:none;box-shadow:none;border-radius:1px;-webkit-border-radius:1px;-moz-border-radius:1px;-webkit-transition:all .2s ease;transition:all .2s ease;position:relative;margin-bottom:20px;width:100%}
.card .card-header{background:0 0;border-radius:0;border-bottom:0;padding:20px 20px 7px 20px;position:relative;z-index:3;min-height:48px}
.card .card-header.separator:after{content:"";height:1px;background:rgba(0,0,0,.08);left:16px;right:16px;position:absolute;bottom:0}
.card .card-header+.card-block{padding-top:0}
.card .card-header .card-title{font-family:Montserrat;text-transform:uppercase;display:inline-block;letter-spacing:.06em;font-size:10.5px;font-weight:500;margin:0;padding:0;line-height:normal;overflow:hidden;text-overflow:ellipsis;-webkit-text-stroke:0;filter:alpha(opacity=40);-webkit-transition:opacity .3s ease;transition:opacity .3s ease}
.card .card-header .card-controls{float:right;margin-top:-3px}
.card .card-header .card-controls ul{margin:0;padding:0}
.card .card-header .card-controls ul li{display:inline-block;list-style:none;line-height:0}
.card .card-header .card-controls:after{content:"";display:table;clear:both}
.card .card-header.card-header-hover .card-title{opacity:.4}
.card .card-header.card-header-hover:hover .card-title{opacity:1}
.card.card-default{border:1px solid rgba(0,0,0,.07)}
.card.card-default>.card-header{color:#333}
.card.card-bordered{border:1px solid rgba(230,230,230,.7)}
.card.card-borderless{border:none}
.card.card-condensed .card-header{padding:13px 13px 0 13px;min-height:30px}
.card.card-condensed .card-header .card-title{opacity:.4}
.card.card-condensed .card-block{padding:13px}
.card.card-hover .card-header .card-title{opacity:.4}
.card.card-hover:hover .card-header .card-title{opacity:1}
.card.card-transparent{border:none;-webkit-box-shadow:none;box-shadow:none;background:0 0}
.card.card-transparent .card-block{background:0 0}
.card.full-height{height:calc(100%)}
.card.full-height .card-block{height:auto;width:100%;height:100%}
.card.card-featured{-webkit-box-shadow:-1px 1px 3px 0 rgba(121,129,135,.14);box-shadow:-1px 1px 3px 0 rgba(121,129,135,.14);width:calc(100% - 50px);float:right}
.card.card-featured .card-title h4{font-family:Montserrat;font-size:16px;text-transform:uppercase;color:#f0f0f0}
.card.card-featured .card-block h3{line-height:34px;font-size:26px}
.card.card-featured .footer .username{line-height:8px;padding-top:10px;font-size:16px}
.card.card-featured .footer .buttons li{display:inline;list-style:none;font-weight:700;margin-left:20px}
.card.card-featured .footer .buttons li:first-child{margin-left:0}
.card.card-featured .footer .buttons .heart{color:#f55753}
.card.card-featured .footer .buttons .comment{color:#626262}
.card.card-featured .ribbon{width:38px;height:38px;margin-left:-39px;float:left;-webkit-box-shadow:inset -3px 0 3px 0 rgba(0,0,0,.14);box-shadow:inset -3px 0 3px 0 rgba(0,0,0,.14)}
.card.card-featured .ribbon.green{background:#48b0f7}
.card.card-featured .ribbon.blue{background:#10cfbd}
.card.hover-fill:hover{background:#f0f0f0}
.card.hover-stroke:hover{border:1px solid #e6e6e6}
.card .card-block{padding:20px}
.card .card-block.no-padding .row{margin-left:0;margin-right:0}
.card .card-block.no-bottom-padding{padding-bottom:0}
.card .card-block.no-top-padding{padding-top:0}
.card .card-block .title{margin-top:0}
.card .card-block.scrollable{margin-bottom:20px}
.card-progress{background:rgba(255,255,255,.8);bottom:0;left:0;position:absolute!important;right:0;top:0;display:none;z-index:2}
.card-progress>.progress,.card-progress>.progress.progress-small{height:3px}
.card-progress>.card-bar-indeterminate,.card-progress>.progress-circle-indeterminate{display:block;left:50%;margin-left:-17px;margin-top:-17px;position:absolute;top:50%}
.card-progress>.progress-circle-indeterminate{width:35px;height:35px}
.card-maximized{position:fixed!important;left:280px;top:59px;bottom:0;right:0;z-index:600;margin:0;width:auto}
.card .pgn-wrapper{position:absolute;z-index:602}
.card-header a:not(.btn){color:#626262!important;opacity:.4;padding-top:10px;padding-bottom:10px}
.card-header a:not(.btn).card-refresh{-webkit-transition:opacity .3s ease;transition:opacity .3s ease}
.card-header a:not(.btn).card-refresh.refreshing{opacity:1}
.card-header .dropdown-menu{margin-top:5px}
.card-header .dropdown-menu .dropdown-item{padding:0 20px!important}
.card-header .dropdown-menu .dropdown-item:hover{opacity:1;background-color:transparent}
.card-header a[data-toggle]:hover{opacity:1}
.card-icon{-moz-osx-font-smoothing:grayscale;font-family:pages-icon;font-style:normal;font-variant:normal;font-weight:400;line-height:1;text-transform:none}
.card-icon-close:before{content:"\e60a"}
.card-icon-maximize:before{content:"\e634"}
.card-icon-refresh:before{content:"\e600"}
.card-icon-collapse:before{content:"\e62c"}
.card-icon-settings:before{content:"\e655"}
.card-icon-refresh-lg-master,.card-icon-refresh-lg-white{width:15px;height:15px;display:block;background-size:cover;-webkit-transition:opacity .3s ease;transition:opacity .3s ease}
.card-icon-refresh-lg-master.fade,.card-icon-refresh-lg-white.fade{opacity:.1}
.card-icon-refresh-lg-master{background-image:url(../img/progress/progress-circle-lg-master-static.svg)}
.card-icon-refresh-lg-white{background-image:url(../img/progress/progress-circle-lg-white-static.svg)}
.card-icon-refresh-lg-master-animated,.card-icon-refresh-lg-white-animated{width:15px;height:15px;display:block;background-size:cover;opacity:0;-webkit-transition:opacity .3s ease;transition:opacity .3s ease}
.card-icon-refresh-lg-master-animated.active,.card-icon-refresh-lg-white-animated.active{opacity:1}
.card-icon-refresh-lg-master-animated{background-image:url(../img/progress/progress-circle-lg-master.svg)}
.card-icon-refresh-lg-white-animated{background-image:url(../img/progress/progress-circle-lg-white.svg)}
.card-scroll{height:100px}
.sortable .card-header{cursor:move}
.ui-sortable-handle{transition:max-height .3s ease 0s}
.sortable .grid .grid-title{cursor:move}
.ui-sortable{min-height:0!important}
.ui-sortable-placeholder{border:1px dotted #000;visibility:visible!important;height:100%!important}
.ui-sortable-placeholder *{visibility:hidden}
.sortable-box-placeholder{background-color:#f0f0f0;border:1px dashed #e6e6e6;display:block;margin-top:0!important;margin-bottom:24px!important}
.sortable-box-placeholder *{visibility:hidden}
.sortable .card{transition:none}
.sortable-column{padding-bottom:100px}
.demo-card-scrollable{height:158px}
.card-block{padding:15px}
.nav-tabs{position:relative;margin-top:1.5rem}
.nav-tabs>li{padding-left:0;padding-right:0}
.nav-tabs>li>a.active:focus,.nav-tabs>li>a.active:hover{border-color:#e6e6e6;color:#626262;background-color:#e6e6e6}
.nav-tabs>li>a{display:block;border-radius:0;padding:0 15px;margin-right:0;font-weight:500;letter-spacing:.06em;color:rgba(98,98,98,.7);font-size:12px;text-transform:uppercase;border-color:transparent;position:relative;line-height:1.7em}
.nav-tabs>li>a:focus,.nav-tabs>li>a:hover{background:0 0;border-color:transparent;color:#626262}
.nav-tabs>li>a .tab-icon{margin-right:6px}
.nav-tabs~.tab-content{overflow:hidden;padding:1rem .8rem}
.nav-tabs~.tab-content>.tab-pane.slide-left,.nav-tabs~.tab-content>.tab-pane.slide-right{-webkit-transition:all .3s ease!important;transition:all .3s ease!important}
.nav-tabs~.tab-content>.tab-pane.slide-left.sliding,.nav-tabs~.tab-content>.tab-pane.slide-right.sliding{opacity:0!important}
.nav-tabs~.tab-content>.tab-pane.slide-left.active,.nav-tabs~.tab-content>.tab-pane.slide-right.active{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-ms-transform:translate(0,0);opacity:1}
.nav-tabs~.tab-content>.tab-pane.slide-left.sliding{-webkit-transform:translate3d(10%,0,0)!important;transform:translate3d(10%,0,0)!important;-ms-transform:translate(10%,0)!important}
.nav-tabs~.tab-content>.tab-pane.slide-right.sliding{-webkit-transform:translate3d(-10%,0,0)!important;transform:translate3d(-10%,0,0)!important;-ms-transform:translate(-10%,0)!important}
.nav-tabs.nav-tabs-left,.nav-tabs.nav-tabs-right{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0}
.nav-tabs.nav-tabs-left:after,.nav-tabs.nav-tabs-right:after{border-bottom:0}
.nav-tabs.nav-tabs-left>li,.nav-tabs.nav-tabs-right>li{float:none}
.nav-tabs.nav-tabs-left{float:left;padding-right:0}
.nav-tabs.nav-tabs-left~.tab-content{border-left:1px solid rgba(0,0,0,.1);-ms-flex:1;-ms-flex-negative:0}
.nav-tabs.nav-tabs-right{float:right;padding-right:0}
.nav-tabs.nav-tabs-right~.tab-content{border-right:1px solid rgba(0,0,0,.1);-ms-flex:1;-ms-flex-negative:0}
.nav-tabs-simple{border-bottom:0}
.nav-tabs-simple:after{content:'';border-bottom:1px solid rgba(0,0,0,.1);width:100%;position:absolute;bottom:-2px;z-index:120;left:0}
.nav-tabs-simple>li{margin-bottom:0}
.nav-tabs-simple>li>a:after{position:absolute;-webkit-transition:all .1s linear 0s;transition:all .1s linear 0s;-webkit-backface-visibility:hidden;width:100%;display:block;background-color:#f55753;height:0;content:'';left:0;z-index:125;top:100%}
.nav-tabs-primary.nav-tabs-simple>li>a:after{background-color:#6d5cae}
.nav-tabs-success.nav-tabs-simple>li>a:after{background-color:#10cfbd}
.nav-tabs-complete.nav-tabs-simple>li>a:after{background-color:#48b0f7}
.nav-tabs-danger.nav-tabs-simple>li>a:after{background-color:#f55753}
.nav-tabs-warning.nav-tabs-simple>li>a:after{background-color:#f8d053}
.nav-tabs-info.nav-tabs-simple>li>a:after{background-color:#3b4752}
.nav-tabs-simple>li>a.active:focus,.nav-tabs-simple>li>a.active:hover{background-color:transparent;border-color:transparent}
.nav-tabs-simple>li>a.active:after,.nav-tabs-simple>li>a:hover:after{height:3px}
.nav-tabs-simple.nav-tabs-left:after,.nav-tabs-simple.nav-tabs-right:after{border-bottom:0}
.nav-tabs-simple.nav-tabs-left>li>a:after,.nav-tabs-simple.nav-tabs-right>li>a:after{width:0;height:100%;top:0;bottom:0;position:absolute}
.nav-tabs-simple.nav-tabs-left>li>a.active:after,.nav-tabs-simple.nav-tabs-left>li>a:hover:after,.nav-tabs-simple.nav-tabs-right>li>a.active:after,.nav-tabs-simple.nav-tabs-right>li>a:hover:after{width:3px}
.nav-tabs-simple.nav-tabs-left>li>a:after{right:0;left:auto}
.nav-tabs-simple.nav-tabs-right>li>a:after{left:0}
.nav-tabs-linetriangle{border-bottom:0}
.nav-tabs-linetriangle:after{content:'';border-bottom:1px solid rgba(0,0,0,.1);width:100%;position:absolute;bottom:-1px;z-index:100;left:0}
.nav-tabs-linetriangle>li>a.active{background:0 0;box-shadow:none;border-color:transparent}
.nav-tabs-linetriangle>li>a.active:active,.nav-tabs-linetriangle>li>a.active:focus,.nav-tabs-linetriangle>li>a.active:hover{border-color:transparent;background-color:transparent}
.nav-tabs-linetriangle>li>a.active:after,.nav-tabs-linetriangle>li>a.active:before{border:medium solid transparent;content:"";height:0;left:50%;pointer-events:none;position:absolute;width:0;z-index:120;top:98%}
.nav-tabs-linetriangle>li>a.active:after{border-top-color:#fafafa;border-width:10px;margin-left:-10px}
.nav-tabs-linetriangle>li>a.active:before{border-top-color:rgba(0,0,0,.2);border-width:11px;margin-left:-11px}
.nav-tabs-linetriangle>li>a span{font-size:1em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.nav-tabs-linetriangle>li>a:focus,.nav-tabs-linetriangle>li>a:hover{overflow:visible;-webkit-transition:color .2s ease 0s;transition:color .2s ease 0s}
.nav-tabs-linetriangle~.tab-content{background:#fff}
.nav-tabs-linetriangle.nav-tabs-left.nav-tabs:after{border-bottom:none}
.nav-tabs-linetriangle.nav-tabs-left.nav-tabs>li>a.active:before{border-top:11px solid transparent;border-bottom:11px solid transparent;border-left:11px solid rgba(0,0,0,.2)}
.nav-tabs-linetriangle.nav-tabs-left.nav-tabs>li>a.active:after{border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:10px solid #fafafa;margin-top:1px;margin-right:2px}
.nav-tabs-linetriangle.nav-tabs-left.nav-tabs>li>a.active:after,.nav-tabs-linetriangle.nav-tabs-left.nav-tabs>li>a.active:before{top:auto;right:-22px;left:auto}
.nav-tabs-linetriangle.nav-tabs-right.nav-tabs:after{border-bottom:none}
.nav-tabs-linetriangle.nav-tabs-right.nav-tabs>li>a.active:before{border-top:11px solid transparent;border-bottom:11px solid transparent;border-right:11px solid rgba(0,0,0,.2)}
.nav-tabs-linetriangle.nav-tabs-right.nav-tabs>li>a.active:after{border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:10px solid #fafafa;margin-top:1px;margin-left:-9px}
.nav-tabs-linetriangle.nav-tabs-right.nav-tabs>li>a.active:after,.nav-tabs-linetriangle.nav-tabs-right.nav-tabs>li>a.active:before{top:auto;left:-11px;right:auto}
@media screen and (max-width:58em){
.nav-tabs-linetriangle{font-size:.6em}
}
.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{border-color:transparent}
.nav-tabs-fillup{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000;-moz-perspective:1000;perspective:1000;margin-bottom:0;height:34px;overflow:hidden}
.nav-tabs-fillup>li{overflow:hidden}
.nav-tabs-fillup>li>a{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:color .3s ease 0s;transition:color .3s ease 0s;background:0 0}
.nav-tabs-fillup>li>a:after{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;background:none repeat scroll 0 0 #272b35;content:"";height:34px;left:0;position:absolute;top:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);-webkit-transition:-webkit-transform .3s ease 0s;transition:transform .3s ease 0s;width:100%;z-index:-1}
.nav-tabs-primary.nav-tabs-fillup>li>a:after{background:none repeat scroll 0 0 #6d5cae;border:1px solid #6d5cae}
.nav-tabs-success.nav-tabs-fillup>li>a:after{background:none repeat scroll 0 0 #10cfbd;border:1px solid #10cfbd}
.nav-tabs-complete.nav-tabs-fillup>li>a:after{background:none repeat scroll 0 0 #48b0f7;border:1px solid #48b0f7}
.nav-tabs-warning.nav-tabs-fillup>li>a:after{background:none repeat scroll 0 0 #f8d053;border:1px solid #f8d053}
.nav-tabs-danger.nav-tabs-fillup>li>a:after{background:none repeat scroll 0 0 #f55753;border:1px solid #f55753}
.nav-tabs-info.nav-tabs-fillup>li>a:after{background:none repeat scroll 0 0 #3b4752;border:1px solid #3b4752}
.nav-tabs-fillup>li>a span{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0);-webkit-transition:-webkit-transform .5s ease 0s;transition:transform .5s ease 0s;display:block;font-weight:700;line-height:1.5}
.nav-tabs-fillup>li>a.active{z-index:100;color:#fff}
.nav-tabs-fillup>li>a.active:focus,.nav-tabs-fillup>li>a.active:hover{border-color:transparent;background:0 0;color:#fff}
.nav-tabs-fillup>li>a.active:after{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-ms-transform:translate(0,0)}
.nav-tabs-fillup>li>a.active span{-webkit-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0);-ms-transform:translate(0,-5px)}
.nav-tabs-fillup .icon:before{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0);-ms-transform:translate(0,5px);-webkit-transition:transform .5s ease 0s;transition:transform .5s ease 0s;display:block;margin:0}
.nav-tabs-fillup~.tab-content{background:#fff;webkit-box-shadow:0 0 35px 0 rgba(154,161,171,.15);box-shadow:0 0 35px 0 rgba(154,161,171,.15)}
.nav-tabs-fillup.nav-tabs-left,.nav-tabs-fillup.nav-tabs-right{border-bottom:none}
.nav-tabs-fillup.nav-tabs-left:after,.nav-tabs-fillup.nav-tabs-right:after{border-bottom:none}
.nav-tabs-fillup.nav-tabs-left>li>a:after,.nav-tabs-fillup.nav-tabs-right>li>a:after{width:calc(100% + 1px);height:100%}
.nav-tabs-fillup.nav-tabs-left>li.active a:after,.nav-tabs-fillup.nav-tabs-right>li.active a:after{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-ms-transform:translate(0,0)}
.nav-tabs-fillup.nav-tabs-left>li>a:after{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);-ms-transform:translate(100%,0)}
.nav-tabs-fillup.nav-tabs-left>li>a span{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0);-ms-transform:translate(5px,0)}
.nav-tabs-fillup.nav-tabs-left>li.active a span{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0);-ms-transform:translate(-5px,0)}
.nav-tabs-fillup.nav-tabs-left>li.active .icon:before{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0);-ms-transform:translate(-5px,0)}
.nav-tabs-fillup.nav-tabs-right>li>a:after{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);-ms-transform:translate(-100%,0);left:-1px}
.nav-tabs-fillup.nav-tabs-right>li>a span{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0);-ms-transform:translate(-5px,0)}
.nav-tabs-fillup.nav-tabs-right>li.active a span{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0);-ms-transform:translate(5px,0)}
.nav-tabs-fillup.nav-tabs-right>li.active .icon:before{-webkit-transform:translate3d(5px,0,0);transform:translate3d(5px,0,0);-ms-transform:translate(5px,0)}
.nav-tabs-header{overflow:scroll;width:100%}
.nav-tabs-header .nav-tabs{width:auto;white-space:nowrap}
.nav-tabs-header .nav-tabs>li{display:inline-block;float:inherit}
.nav-tabs-header.nav-tabs-linetriangle{height:54px;overflow-y:hidden}
.nav-tabs-header.nav-tabs-linetriangle:after{border-bottom:1px solid rgba(0,0,0,.1);width:100%;position:relative;bottom:3px;z-index:120;content:"";clear:both}
.nav-tabs-header.nav-tabs-linetriangle~.tab-content{position:relative;top:-12px}
.nav-tabs-header~.tab-content{overflow:hidden;padding:15px}
.nav-tab-dropdown .cs-select{width:100%!important;max-width:100%}
.nav-tab-dropdown .cs-select .cs-placeholder{height:48px;padding:12px 34px 15px 15px;font-family:Montserrat;font-weight:500;letter-spacing:.06em;font-size:10.5px;text-transform:uppercase}
.nav-tab-dropdown .cs-select .cs-backdrop{border:1px solid transparent;border-bottom:1px solid rgba(0,0,0,.07)}
.card-group{margin-bottom:18px}
.card-group.horizontal{display:block}
.card-group.horizontal .card+.card{border-left:1px solid rgba(0,0,0,.07)}
.card-group .card-header{padding:13px 18px 10px 22px}
.card-group .card-header.collapsed{background-color:#fff}
.card-group .card-header+.card-collapse .card-body{border:0}
.card-group .card-header .card-title{width:100%}
.card-group .card-header .card-title>a{color:#626262;font-size:13px;font-weight:400;display:block;opacity:1}
.card-group .card-header .card-title>a:hover{color:#626262!important}
.card-group .card-header .card-title>a:hover:after{color:#626262!important}
.card-group .card-header .card-title>a:after{font-family:FontAwesome;content:"\f056";position:absolute;right:13px;top:36%;color:#626262}
.card-group .card-header .card-title>a.collapsed{color:rgba(98,98,98,.7);opacity:1}
.card-group .card-header .card-title>a.collapsed:after{content:"\f055";color:rgba(98,98,98,.7)}
.card-group .card{-webkit-box-flex:1;-webkit-flex:1 0 0;-ms-flex:1 0 0;flex:1 0 0}
.card-group .card+.card{margin-top:2px}
.card-group .card .card-block{height:auto}
.nav-pills>li:first-child{padding-left:0}
.nav-pills>li>a{color:#626262}
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{color:#626262;background-color:#e6e6e6}
@media (max-width:767px){
.nav.nav-tabs.nav-stack-sm li{float:none}
.nav.nav-tabs.nav-stack-sm.nav-tabs-linetriangle>li.active>a:after,.nav.nav-tabs.nav-stack-sm.nav-tabs-linetriangle>li.active>a:before{display:none}
}
@media screen and (min-width:768px){
body{margin:calc(var(--header-height) + 1rem) 0 0 0;padding-left:calc(var(--nav-width))}
.header{height:calc(var(--header-height) + 1rem);padding:0 2rem 0 calc(var(--nav-width))}
.l-navbar{left:0;padding:1rem 1rem 0 0}
.show{width:calc(var(--nav-width) + 156px)}
.body-pd{padding-left:calc(var(--nav-width) + 156px)}
}