{% extends "header_main.html" %}

{% block title %}Użytkownicy{% endblock %}

{% block body %}
{% htmlcompress %}

<!--Container Main start-->
<div class="page-content-wrapper">

    <div class="content">
        <div class="jumbotron" data-pages="parallax">
            <div class=" container-fluid container-fixed-lg">
                <div class="inner">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/users/">Ustawienia</a></li>
                        <li class="breadcrumb-item active"><a href="/users/">Użytkownicy</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid container-fixed-lg">

            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="card card-transparent ">
                        <ul class="nav nav-tabs nav-tabs-fillup hidden-sm-down" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a href="#tab-users-one" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-users-one" aria-expanded="true"><span>Lista</span></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#tab-users-two" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-users-two" aria-expanded="false"><span>Dodaj</span></a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active" id="tab-users-one" role="tabpanel" aria-expanded="true">
                                <p>tab 1</p>
                            </div>
                            <div class="tab-pane fade" id="tab-users-two" role="tabpanel" aria-expanded="false">
                                <p>tab 2</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!--Container Main end-->

{% endhtmlcompress %}
{% endblock %}