{% extends "header_login.html" %}

{% block title %}Strona nie znaleziona{% endblock %}

{% block body %}

<div class="error-page d-flex align-items-center justify-content-center">
    <div class="error-container text-center p-4">
        <h1 class="error-code mb-0">404</h1>
        <h2 class="display-6 error-message mb-3">Strona nie została znaleziona!</h2>
        <p class="lead error-message mb-5">Wygląda na to, że nie możemy znaleźć strony, której szukasz.</p>
        <div class="d-flex justify-content-center gap-3">
            <a href="/public" class="btn btn-glass px-4 py-2">Powrót do głównej</a>
            <a href="mail:biuro@maxsoft.pl" class="btn btn-glass px-4 py-2">Zgłoś Problem</a>
        </div>
    </div>
</div>
{% endblock %}